@import "variables";

//[Home]
.card-title-wrapper {
    transition: transform 0.2s ease-in-out;
}
.card-title-wrapper:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
}
//[create courses/update courses]
.form-group {
    margin-bottom: 20px;
}
//[me/courses]
.max-width-img {
    max-width: 50%;
}
.actions {
    margin: 0 4px;
}
//recycle bin
