@import "variables";

//[Home]
body {
}
.course {
    transition: transform 0.2s ease-in-out;
}
.course:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
}
//[create courses/update courses]
.form-group {
    margin-bottom: 20px;
}
//[me/courses]
.max-width-img {
    max-width: 50%;
}
.actions {
    margin: 0 4px;
}
.container {
    max-width: 1500px;
}
.container-form {
    max-height: 85%;
}
.main-content-container {
    background-color: #f2f6fc;
    border-radius: 25px;
}
.content-head {
    border-start-end-radius: 25px;
    border-start-start-radius: 25px;
    background-color: white;
    padding: 10px 6px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.table-head {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.sidebar-container {
    width: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}
.table-container {
    max-height: 85%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f0f0f0; /* Adjust as needed */
}

.sidebar-my-courses {
    background-color: #78a37c;
    border-radius: 25px;
    padding-right: 10px;
}
.courses-count {
    width: 30%;
    color: white;
    background-color: #78a37c;
    border-radius: 25px;
}
.courses-count-statistic {
    color: white;
    height: 100%;
    padding: 10px;
    background-color: #127362;
    border-radius: 25px;
}
.courses-count:hover {
    color: black !important;
    background-color: #127362;
}
.sidebar-item {
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 10px;
}
.sidebar-item a {
    color: black;
}
.sidebar-item-colorred {
    background-color: #78a37c;
}
.sidebar-item-colorred a {
    color: white;
}
.sidebar-item:hover {
    background-color: #eaebef;
}
.sidebar-item-colorred:hover {
    background-color: #78a37c;
}

//home
.courses-container {
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    flex-grow: 1;
}
.actions-container {
    background-color: white;
    border-radius: 25px;
}
.course {
    width: 24%;
}
.course a {
    color: black;
    font-weight: 500;
}
.course img {
    width: 100%;
    border-radius: 8px !important;
}

//header
.navbar-action button{
    text-decoration: none;
}
.navbar-action-login-btn {
    background: transparent;
    cursor: pointer;
    margin-right: 30px;
    padding: 9px 20px;
}
.navbar-action-login-btn a{
    color: white;
    text-decoration: none;
}
.navbar-action-registor-btn {
    background: linear-gradient(to right bottom, #26ff7d, #0c8c3954);
    border-radius: 99px;
    cursor: pointer;
    padding: 9px 20px;
    transition: opacity 0.25s;
}
.navbar-action-registor-btn a{
    color: #fff;
    text-decoration: none;
}
button {
    border: none;
    box-shadow: none;
    color: inherit;
    outline: none;
}
.side-wrappper {
    width: 100px;
    position: sticky;
    top: 90px;
    z-index: 1000;
}
.side-wrappper ul {
    padding-left: 0px;
    list-style-type: none;
}
.side-wrapper-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.side-wrapper-item:hover {
    color: black;
    background-color: #eaebef;
}
.side-wrapper-item i {
    font-size: 20px;
}
.side-wrapper-item span {
    font-size: 14px;
}
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-search{
    width: 500px;
    margin-right: 10em;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-search-ul{
    list-style: none;
}
.navbar-search-input span{
    color: white;
    background-color: #22d768;
    border: none;
    border-radius: 25px;
    padding: 0px 20px;
}
.navbar-search-input input{
    border: none;
    border-radius: 25px;
}
.search-result{
    background: white;
    position: absolute;
    border-radius: 15px;
    padding: 10px;
    width: 470px;
    height: 350px;
    max-height: 600px;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, .2);
    overflow-y: auto;
    z-index: 1000;
}
.search-result-head{
}
.search-result-course a{
    color: black;
}
.search-result-course img{
    border-radius: 5px;
    width: 20%;
    margin-right: 10px;
}
.navbar-account{
    color: white;
}
.account-avatar{
    width: 35px;
    cursor: pointer;
}
.account-avatar span{
    margin-right: 18px;
    margin-left: -25px;
}
.account-avatar img{
    width: 100%;
    border-radius: 50%;
}
.user-wrapper {
    background: white;
    width: 250px;
    color: black;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    inset: 0px 0px auto auto;
    transform: translate3d(-13px, 9px, 0px);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, .2);
    animation: Tippy-module_fadeIn__2LeID .3s ease;
    transition: transform .3s ease-in-out; /* Only transition transform */
    will-change: opacity, transform; /* Hint browser which properties are likely to change */
}

.user-wrapper a{
    text-decoration: none;
    color: black;
}
.profile{
    max-width: 50px;
}
.profile img{
    max-width: 100%;
}

//create course
.form-input-img input {
}
.previewImage {
    background-color: #eaebef;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #888888;
}
.form-input-img{
    width: 40%;
}
.form-input-infor{
    width: 50%;
}

.btn-create{
    background:#127362;
    border-radius: $btn-border-radius;
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    padding: $btn-padding;
    color: white;
}
.btn-create:hover{
    background:#199b83;
}
//my-courses
.add-course{
    height: 168px;
    border: 3px dashed #127362;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #127362;
    text-decoration: none;
    
}
.add-course:hover{
    color: white;
    background: #127362;
}
.add-course span:nth-child(2){
    align-items: center;
    font-size: 35px;
}

//authentication
.authentication-main-container {
    // background-image: url(img\loginIMG.png);
    background-color: #127362
}
.authentication-content-img{
    
}
.authentication-content-img img{
    width: 100%;
    height: 100vh;
}
.authen-content-main{
    background-color: white;
    padding: 2rem 4rem;
}
.break-point {
    position: relative;
    text-align: center;
}
.break-point::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #d1d5db; /* Adjust color as needed */
}
.break-point span {
    position: relative; 
    background-color: white; /* Ensures the line appears behind the text */
    padding: 0 10px; /* Add some padding around the text */
}
.authen-content-navs{
    cursor: pointer;
}
.authen-content-navs a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.chosen-nav{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 5px solid #127362;
    color: #199b83;
}
.set-password-container{
    margin: auto;
    max-width: 45%;
    padding: 10px 20px;
    box-shadow: 0 -4px 42px rgba(0, 0, 0, .2);
    border-radius: 25px;
}
.register-password-item{
    margin: 15px 0;
}
