<div class="mt-4 container">
    <div class="set-password-container col-lg-12">
        <h1>Register Password</h1>
        <form class="mt-5" action="/authentication/registerPassword" method="POST">
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i class="fa-solid fa-user"></i>
                    Username</label>
                <input
                    type="text"
                    class="form-control is-valid"
                    name="username"
                    id="validationServer01"
                    value="{{newUser.username}}"
                    readonly
                />
            </div>
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i
                        class="fa-solid fa-envelope"
                    ></i>
                    Email</label>
                <input
                    type="text"
                    class="form-control is-valid"
                    name="email"
                    id="validationServer01"
                    value="{{newUser.email}}"
                    readonly
                />
            </div>
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i class="fa-solid fa-lock"></i>
                    Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password-input"
                    required
                />
                <div style="display: none;" id="password-valid" class="">
                    Looks good!
                </div>
            </div>
            <div class="register-password-item">
                <label for="confirm-password" class="form-label"><i class="fa-solid fa-lock"></i>
                    Confirm Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="confirm-password-input"
                    required
                />
                <div style="display: none;" id="confirm-password-valid" class="">
                    Looks good!
                </div>
            </div>
            {{>_message}}
            <input disabled class="mt-3 btn btn-success" type="submit" id="set-password-input" value="Set password" />
        </form>
    </div>
</div>
<script>
    var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&.,])[A-Za-z\d@$!%*?&.,]{6,}$/;
    let password;
    document.addEventListener("DOMContentLoaded", function(){

        $("#password-input").on("input", function(){
            password = $(this).val();
            var isValid = pattern.test($(this).val());
            var isValidLength = $(this).val().length >= 6;
            $(this).toggleClass("is-valid", isValid);  //toggleClass manipulate element class
            $(this).toggleClass("is-invalid", !isValid);

            var feedbackText = isValid?"Look good !":"Password must be at least 6 character and included [A-Z], [a-z], [number], [special character]";
            var feedbackClass = isValid?"valid-feedback":"invalid-feedback";
            var validDisplay = isValidLength?"block":"none";

            $("#password-valid")
                .css("display", validDisplay)
                .text(feedbackText)
                .removeClass("valid-feedback invalid-feedback") //make sure class is unique
                .addClass(feedbackClass);
        });

        $("#confirm-password-input").on("input", function(){

            var isValid = $(this).val() === password;

            var feedbackText = isValid?"Look good !":"Confirm password is not match !";
            var feedbackClass = isValid?"valid-feedback":"invalid-feedback";

            $("#confirm-password-valid")
                .css("display", "block")
                .text(feedbackText)
                .removeClass("valid-feedback invalid-feedback")
                .addClass(feedbackClass);

            $("#set-password-input").attr("disabled", !isValid);
        });
    });

</script>