<div class="mt-4 container">
    <div class="set-password-container col-lg-12">
        <h1>Register Password</h1>
        <form class="mt-5" action="/authentication/registerPassword" method="POST">
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i class="fa-solid fa-user"></i>
                    Username</label>
                <input
                    type="text"
                    class="form-control is-valid"
                    name="username"
                    id="validationServer01"
                    value="{{newUser.username}}"
                    readonly
                />
            </div>
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i
                        class="fa-solid fa-envelope"
                    ></i>
                    Email</label>
                <input
                    type="text"
                    class="form-control is-valid"
                    name="email"
                    id="validationServer01"
                    value="{{newUser.email}}"
                    readonly
                />
            </div>
            <div class="register-password-item">
                <label for="validationServer01" class="form-label"><i class="fa-solid fa-lock"></i>
                    Password</label>
                <input
                    type="password"
                    class="form-control is-valid"
                    name="password"
                    id="validationServer01"
                    required
                />
            </div>
            <div class="register-password-item">
                <label for="confirm-password" class="form-label"><i class="fa-solid fa-lock"></i>
                    Confirm Password</label>
                <input
                    type="password"
                    class="form-control is-valid"
                    {{!-- name="confirm-password" --}}
                    id="confirm-password"
                    required
                />
            </div>
            {{>_message}}
            <input class="mt-3 btn btn-success" type="submit" id="" value="Set password" />
        </form>
    </div>
</div>