<div class="mt-5">
    <div class="container mt-5">
        <h2>Create new Course</h2>
        <form method="post" action="/courses/store" enctype="multipart/form-data">
            <div class="form-group mb-3 d-flex justify-content-between">
                <div class="form-input-infor">
                    <div class="form-input-infor-name">
                        <label for="name">Name:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Enter course name"
                        />
                    </div>
                    <div class="mt-2 form-input-infor-description">
                        <label for="description">Description:</label>
                        <textarea
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder="Enter description"
                            style="height: 200px;"
                        ></textarea>
                    </div>
                </div>
                <div class="form-input-img">
                    <label for="image">Image:</label>
                    <input
                        type="file"
                        class="form-control"
                        id="imageInput"
                        accept="iamge/*"
                        name="imageFile"
                        placeholder="Enter image URL"
                    />
                    <label for="" class="mt-2">Preview Image</label>
                    <img class="previewImage" id="previewImage" src="\img\previewImage.png" style="display: block; " />
                </div>
            </div>
            <div class="form-input-infor form-group mb-3">
                <label for="videoID">Video ID:</label>
                <input
                    type="text"
                    class="form-control"
                    id="videoID"
                    name="videoID"
                    placeholder="Enter video ID"
                />
            </div>
            <button type="submit" class="btn-create"><i class="fa-solid fa-plus"></i> Create new course</button>
        </form>
    </div>
</div>
<script>
    document.getElementById("imageInput").addEventListener("change", function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var previewImage = document.getElementById("previewImage");
                    previewImage.src = e.target.result;
                    previewImage.style.display = "block";
                };

                reader.readAsDataURL(file);
            });
</script>