{{#if messages.msg}}
    <div class="alert alert-danger">{{messages.msg}}</div>
{{/if}}
{{#if messages.successMsg}}
    <div class="alert alert-success">{{messages.successMsg}}</div>
{{/if}}
{{#if successMsg}}
    <div class="alert alert-success">{{successMsg}}</div>
{{/if}}