<div class="mt-5">
  <form method="post">
    <div class="mb-3">
      <label for="search-input" class="form-label">Enter value</label>
      <input
        type="text"
        name="value"
        class="form-control"
        id="search-input"
        aria-describedby="emailHelp"
        placeholder="enter here"
      />
      <div id="emailHelp" class="form-text">We'll never share your info with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="search-select" class="form-label">Enter value</label>
      <select name="gender" id="search-select" class="form-select">
        <option value="0">Pick one</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <div id="emailHelp" class="form-text">We'll never share your info with
        anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>