<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Draggable File Upload</title>
        <style>
            #file_input {
                width: 300px;
                height: 200px;
                border: 2px dashed #ccc;
                text-align: center;
                line-height: 200px;
                margin: 20px auto;
            }
        </style>
    </head>
    <body>
        <form>
            <input type="file" id="file_input" name="file_input" multiple />
        </form>

        <script>
            document.getElementById("imageInput").addEventListener("change", function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var previewImage = document.getElementById("previewImage");
                    previewImage.src = e.target.result;
                    previewImage.style.display = "block";
                };
                reader.readAsDataURL(file);
            });
            document.addEventListener("DOMContentLoaded", function () {
                var courseValues = $(".values");
                var valueItem = $("#value-item").html();
                $("#add-value-btn").on("click", function () {
                    courseValues.append("<li>" + valueItem + "</li>");
                });
                var courseRequirements = $(".requirements");
                var requirementItem = $("#requirement-item").html();
                $("#add-requirement-btn").on("click", function () {
                    courseRequirements.append("<li>" + requirementItem + "</li>");
                });
            });
        </script>
    </body>
</html>
