<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Draggable File Upload</title>
        <style>
            #file_input {
                width: 300px;
                height: 200px;
                border: 2px dashed #ccc;
                text-align: center;
                line-height: 200px;
                margin: 20px auto;
            }
        </style>
    </head>
    <body>
        <form>
            <input type="file" id="file_input" name="file_input" multiple />
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () { var searchInput =
    document.getElementById("search-input"); var searchResult =
    document.getElementById("search-result"); searchInput.addEventListener("focus", function(){
    searchResult.style.display = "block"; }); searchInput.addEventListener("blur", function(){
    searchResult.style.display = "none"; }); searchInput.addEventListener("input", function(){ var
    valueAppend = document.getElementById("search-value-append"); valueAppend.textContent =
    searchInput.value; }); });
        </script>
    </body>
</html>
