<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Draggable File Upload</title>
        <style>
            #file_input {
                width: 300px;
                height: 200px;
                border: 2px dashed #ccc;
                text-align: center;
                line-height: 200px;
                margin: 20px auto;
            }
        </style>
    </head>
    <body>
        <form>
            <input type="file" id="file_input" name="file_input" multiple />
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                $(".bookmark-btn").on("click", function () {
                    var result = confirm("Add bookmark to this course ?");
                    if (result) {
                        $("#form-save").submit();
                    }
                });
                $(".form-remove-bookmark").on("click", function () {
                    var result = confirm("Remove bookmark from this course ?");
                    if (result) {
                        $("#form-remove-bookmark").submit();
                    }
                });
            });
        </script>
    </body>
</html>
